{% extends "base.html" %}
{% block title %}Admin Authorization Required{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <h3 class="mb-4">Admin Authorization Required</h3>
    <div class="alert alert-warning">You do not have permission to perform this action.<br>Please enter admin credentials to continue.</div>
    <form method="post">
      <div class="mb-3">
        <label class="form-label">Admin Username:</label>
        <input class="form-control" type="text" name="admin_username" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Admin Password:</label>
        <input class="form-control" type="password" name="admin_password" required>
      </div>
      <input type="hidden" name="action" value="{{ action }}">
      <input type="hidden" name="target_id" value="{{ target_id }}">
      <button type="submit" class="btn btn-primary w-100">Authorize & Continue</button>
    </form>
  </div>
</div>
{% endblock %}
