{% extends "base.html" %}

{% block title %}All Bills{% endblock %}

{% block content %}
<h1>All Bills</h1>
<table class="table table-striped table-bordered">
  <thead class="table-primary">
    <tr>
      <th>ID</th>
      <th>Customer</th>
      <th>Service</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for bill in bills %}
    <tr>
      <td>{{ bill[0] }}</td>
      <td>{{ bill[1] }}</td>
      <td>{{ bill[2] }}</td>
      <td>${{ bill[3] }}</td>
      <td>{{ bill[4] }}</td>
      <td>{{ bill[5] }}</td>
    </tr>
    {% else %}
    <tr>
      <td colspan="6" class="text-center">No bills found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="/add_bill" class="btn btn-success">Add New Bill</a>
{% endblock %}
